/* 
    Document   : barraLinnkSuperior
    Created on : 10/04/2012, 14:51:40
    Author     : wallace
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/*root { 
    display: block;
}*/




#barraLinkSuperior{

    /*        height: 35px;*/
/*        padding-top: 1px;
        padding-left: 2px;
        padding-right: 2px;*/
    height: 26px;
    /*    background-color: #2652d6;*/
    margin: 0;
    margin-top: 2px;

/*    position: static;*/

}

ul#navegaSuperior{


    /*    padding-left: 2px;*/
    display:block;
    height:100%;
    /*    color:#FFF;*/
    text-decoration:none;
    /*    border-right:1px solid #FFF;*/
    background: #2652d6;
    margin: 0;
    padding-left: 5px;
    padding-bottom: 2px;



}

ul#navegaSuperior li {
    list-style:none;
    display:inline;
    float:left;
/*    margin:0;*/
    margin-right: 15px;
/*    padding:0;*/
    text-align:center;
/*    padding-top: 2px;*/



}

ul#navegaSuperior li a{
    margin: 0;
    display:block;
/*    height:100%;*/
    color:#FFF;
    font-family: sans-serif;
    text-decoration:none;
    font-weight: 700;
    background: #2652d6;
    padding-left: 5px;
    padding-right: 2px;
    padding-top: 5px;

}

ul#navegaSuperior li a:hover, ul#navegaSuperior li a.ativo{
    background:#ccc;
    
}

ul#navegaSuperior li ul{
    display:none;
    list-style: circle;
    position:absolute;
    /*    top:25px;*/
    /*    left:0;*/
    /*    width:460px;*/
    background:#2652d6;

}


.subMenu{
    margin: 0;
    padding: 0;
    position: absolute;
    /*    visibility: hidden;*/
}

#navegaSuperior li ul li{
    float: none;
    display: inline
}

#navegaSuperior li ul li a{
/*    margin: 0 0 0 5px;*/
/*    min-width: 180px;*/
    text-align: left;
    z-index: 1000;    
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-bottom: solid thin #205606;

}

/*ul.subMenu li a{
    margin: 0 0 0 5px;
        min-width: 180px;
    text-align: left;
        z-index: 1000;    
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-bottom: solid thin #205606;
}

*/
