/* 
    Document   : index
    Created on : 10/04/2012, 11:51:38
    Author     : wallace
    Description:
        Purpose of the stylesheet follows.
*/

body{
    /*    width: 100%;*/
    /*    height: 100%;*/
    overflow: visible;
    /*    background: #f6f6f6;*/
    /*    text-align: left;*/
    background: #fefefe;


}

#tudo{
    height: 100%;
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    /*    background: #b9b9b9;*/


}

#titulo{
    width: 100%;
    height: 30px;
    background: #2652d6;
    /*    padding: 15px;*/
    margin-bottom: 5px;
    padding-top: 10px;
    padding-left: 50px;
    border-radius: 0.3em;

    /*    position: static;*/

}

#titulo a {
    color: #f3f5fc;
    font-weight: 800;   
}

/*#barraLinkSuperior{
    width: 100%;
        height: 40px;
    background: brown;
    position: static;
}*/

#bannerSuperior{
    width: 100%;
    height: 240px;
    background: #fefefe;
    margin-top: 10px;
}


#conteudo{
    width: 100%;
    height: 500px;
    /*    background: blue;*/
    margin-top: 10px;

}


#conteudoEsquerda{
    width: 75%;
    height: 98%;
    float: left;
    z-index: 100;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;



}

#conteudoDireita{
    width: 25%;
    height: 100%;
    float: right;
    z-index: 200;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
}


#avisos{
    width: 100%;
    height: 25%;
}

#avisos h4{
    margin: 0;
    text-align: center;
    color: #FFF;
    background: #c43f3f;
}


#aprovados{
    width: 100%;
    height: 25%;
    /*    border-left: solid 1px #2652d6;*/

    /*    background: darkgreen;*/
}

#aprovados h4{
    margin: 0;
    text-align: center;
    color: #FFF;
    /*    background: #c3c3df;*/
    background: #c43f3f;

}


#responsaveis{
    width: 100%;
    height: 25%;
    /*    border-left: solid 1px #2652d6;*/

    /*    background: violet;*/
}

#responsaveis h4{
    margin: 0;
    text-align: center;
    color: #FFF;
    /*    background: #c3c3df
    ;*/
    background: #c43f3f;

}


#parceirosColegio{
    width: 100%;
    height: 25%;
    /*    border-left: solid 1px #2652d6;*/

    /*    background: tomato;*/
}

#parceirosColegio h4{
    margin: 0;
    text-align: center;
    color: #FFF;
    background: #c43f3f;
    /*    background: #c3c3df;*/

}



#bannerInferior{
    width: 100%;
    height: 150px;
    background: #2652d6;
    margin: 0;
    /*    margin-bottom: 1px;*/

}

#rodape{
    width: 100%;
    /*    height: 10px;*/
    /*    background: #2652d6;*/
    background: #951c08;  
    margin-bottom: 2px;

}

#rodape a{
    padding-left: 250px;
    color: #e6e6e6;
    font-size: smaller;


}

table{
    margin: 0;
    width: 70px;
}

