/* 
    Document   : index
    Created on : 10/04/2012, 11:51:38
    Author     : wallace
    Description:
        Purpose of the stylesheet follows.
*/

body{
    /*    width: 100%;*/
    /*    height: 100%;*/
    overflow: visible;
    /*    background: #f6f6f6;*/
    /*    text-align: left;*/
    background: url('../imagens/bg.png') !important;
    font-family: Tahoma, sans-serif;



}
/*
#bg{
    width: 100%;
    height: 300px;
    background: #b8251b;
    position: absolute;
    z-index: 1;
}*/

#tudo{
    height: 100%;
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
    /*background: #d2d1cd;*/


}

#titulo{
    width: 100%;
    height: 30px;
    background: #2652d6;
    /*    padding: 15px;*/
    margin-bottom: 5px;
    padding-top: 10px;
    padding-left: 50px;
    border-radius: 0.3em;

    /*    position: static;*/

}

#titulo a {
    color: #f3f5fc;
    /*font-weight: 800;*/   
}

/*#barraLinkSuperior{
    width: 100%;
        height: 40px;
    background: brown;
    position: static;
}*/

#bannerSuperior{
    width: 100%;
    /*    height: 240px;*/
    overflow: auto;
    background: #FFF;
    margin-top: 10px;
    padding: 5px;
    -webkit-box-shadow: 1px 3px 13px rgba(88, 50, 50, 0.75);
    -moz-box-shadow:    1px 3px 13px rgba(88, 50, 50, 0.75);
    box-shadow:         1px 3px 13px rgba(88, 50, 50, 0.75);
}

#slideshow{

}


#conteudo{
    width: 100%;
    height: 850px;
    /*background: white;*/
    margin-top: 10px;

}


#conteudoEsquerda{
    width: 75%;
    height: 98%;
    float: left;
    z-index: 100;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    /*padding-right: 5px;*/




}

#conteudoDireita{
    width: 25%;
    height: 100%;
    float: right;
    z-index: 200;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    /*margin-right: 5px;*/
}


#avisos{
    width: 100%;
    height: auto;

}

#avisos h4{
    margin: 0;
    text-align: center;
    color: #FFF;

    /*background: #dc291a;*/
}


#aprovados{
    width: 100%;
    height: 25%;
    /*    border-left: solid 1px #2652d6;*/

    /*    background: darkgreen;*/
}

#aprovados h4{
    margin: 0;
    text-align: center;
    color: #FFF;


}


#responsaveis{
    width: 100%;
    height: 25%;

}

#responsaveis h4{
    margin: 0;
    text-align: center;
    color: #FFF;


}


#parceirosColegio{
    width: 100%;
    height: 25%;
    margin-top: 15px;

}

#parceirosColegio img{
    margin-bottom: 5px;
}

#parceirosColegio h4{
    margin: 0;
    text-align: center;
    color: #FFF;


}



#bannerInferior{
    clear: both;
    width: 100%;
    /*height: 150px;*/
    /*background: #2652d6;*/
    margin: 0;
    /*    margin-bottom: 1px;*/

}

#rodape{
    width: 100%;
    height: 40px;
    /*    background: #2652d6;*/
    background: #951c08;  
    margin-bottom: 2px;
    text-align: right;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 5px;
    line-height: 40px;

}

#rodape a{
    padding-left: 250px;
    color: #e6e6e6;
    font-size: smaller;



}

table{
    margin: 0;
    width: 70px;
}

#quadro_esquerda{
    width: 30%;
    /*height: 100%;*/
    /*background: #951c08;*/
    border: solid 1px black;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    float: left;
    background: white;
}

#noticias{
    /*background: #2652d6;*/
    /*height: 45%;*/
    margin-left: 32%;
    margin-right: 5%;
    margin-bottom: 5px;
    /*border-radius: 1em 4em 1em 4em;*/
    /*    border: solid #005B9A 5px;*/
    border: solid #eaeaea 5px;
    -webkit-border-top-left-radius: 50px;
    -webkit-border-top-right-radius: 30px;
    -webkit-border-bottom-right-radius: 100px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-topleft: 50px;
    -moz-border-radius-topright: 30px;
    -moz-border-radius-bottomright: 100px;
    -moz-border-radius-bottomleft: 25px;
    border-top-left-radius: 50px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 25px;
    padding: 10px 10px 35px 10px;
    /*float: right;*/
}

#container_home_inferior{

    /*width: 45%;*/
    margin-left: 32%;
    height: 45%;
}
#fotos{
    float: left;
    /*background: url(../imagens/fundo_home.png) !important;*/
    /*height: 100%;*/
    /*margin: -10px 0 0 -10px;*/
    margin-right: 3%;
    /*float: left;*/
    width: 40%;
    /*    -webkit-border-top-left-radius: 15px;
        -webkit-border-top-right-radius: 25px;
        -webkit-border-bottom-right-radius: 60px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-topleft: 15px;
        -moz-border-radius-topright: 25px;
        -moz-border-radius-bottomright: 60px;
        -moz-border-radius-bottomleft: 5px;
        border-top-left-radius: 15px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 60px;
        border-bottom-left-radius: 5px;*/
    padding: 0 0 0 20px;
    /*    -webkit-border-top-left-radius: 60px;
        -webkit-border-top-right-radius: 25px;
        -webkit-border-bottom-right-radius: 60px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-topleft: 60px;
        -moz-border-radius-topright: 25px;
        -moz-border-radius-bottomright: 60px;
        -moz-border-radius-bottomleft: 5px;
        border-top-left-radius: 60px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 60px;
        border-bottom-left-radius: 5px;*/
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: #eaeaea solid 2px;
    /*position: relative;*/
}

#fotos h2{
    text-align: center;
}

#matricula{
    /*float: right;*/
    width: 50%;
    /*height: 100%;*/
    /*background: violet;*/
    overflow: hidden;
    /*margin-left: 48%;*/
    margin-right: 5%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: #eaeaea solid 2px;
    /*position: relative;*/
}

#matricula img{
    float: left;
    margin: 3px 3px 5px 5px;
}

#matricula h2{
    text-align: center;
}

#matricula p{
    font-size: 14px;
}

.news{
    /*width: 100%;*/
    /*text-align: center;*/
    /*height: 20%;*/

    border-bottom: solid 1px #999999;
    margin: 5px;
}

.news h3{
    font: 16px 'Lucida Grande', LucidaGrandeBold, Arial, Helvetica, sans-serif;
    color: #005B9A;
    margin: 0;
}

.news p{
    font: 12px 'Lucida Grande', LucidaGrandeBold, Arial, Helvetica, sans-serif;
    text-align: justify;
}

.news_date{
    font-size: 65%;
    margin: 0;
    text-align: left;
}

.news_img1{
    /*margin: 5px auto;*/
    /*background: url(../imagens/img_noticias.png) no-repeat center bottom;*/
    /*background: url(../imagens/bg_trans.png);*/
    margin: 0;
    padding: 0;
    width: 150px;
    float: left;
    height: 150px;
    display: block;
    -webkit-box-shadow: 1px 3px 13px rgba(88, 50, 50, 0.75);
    -moz-box-shadow:    1px 3px 13px rgba(88, 50, 50, 0.75);
    box-shadow:         1px 3px 13px rgba(88, 50, 50, 0.75);
    margin-right: 5px;
}
.news_img{
    /*margin: 5px auto;*/
    /*background: url(../imagens/img_noticias.png) no-repeat center bottom;*/
    /*background: url(../imagens/bg_trans.png);*/
    margin: 0;
    padding: 0;
    width: 350px;

    height: 150px;
    display: block;
    -webkit-box-shadow: 1px 3px 13px rgba(88, 50, 50, 0.75);
    -moz-box-shadow:    1px 3px 13px rgba(88, 50, 50, 0.75);
    box-shadow:         1px 3px 13px rgba(88, 50, 50, 0.75);
}

.news_title{
    text-align: left;
    margin:0;
}

.item_quadro_esquerda span{
    /*font-family: sans-serif;*/
    margin: .3em;
    display: block;
    color: #f24444;
    font-weight: bold;
    font-size: 14px;
    line-height: 55px;
}

.item_quadro_esquerda{
    padding: 5px;
    height: 70px;
    overflow: hidden;
}

.item_quadro_esquerda img{
    float:left;
}

h2{
    margin: 0!important;
    padding: 5px;
    font: 24px 'Lucida Grande', LucidaGrandeBold, Arial, Helvetica, sans-serif;

}

.titulo_box_direita{
    padding: 3px;
}

#datepicker{
    font-size: 75%;
    width: 100%;
}

.ui-datepicker{
    width: 97% !important;
}

.fotos_home{
    float: left;
    padding:  5px;
    /*padding:  5px 5px 10px 10px;*/
    margin: 2px;
    background: #cccccc;
}

.paragrafo{
    text-align: right;
    margin-right: 30px;
    clear: both;
}

.menor{
    text-align: right;
    font-size: 10px;
}

.messages{
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
}

.messages tbody td{
    /*border-style: hidden;*/
    padding: 5px;
    margin: 5px;
}

.messages tbody tr{
    padding: 5px;
    margin: 5px;
    border: solid #a6a6a6 1px;
}

.date{
    width: 25%;
    font-size: 11px;
    font-weight: bold;
    color: #e20707;
}

.message{
    width: 75%;
    font-size: 12px;
}

.clear{

}


#logos{
    clear:both;
    width: 200px;
    float: left;
    padding: 5px;
    margin-left: 5px;
}

#redesSociais{
    text-align: right;
    margin-top: 20px;
}